@use '../abstracts/mixins';

h1 {
  @include mixins.set-font-styles();
}

h2 {
  @include mixins.set-font-styles();
}

h3 {
  @include mixins.set-font-styles();
}

h4 {
  @include mixins.set-font-styles();
}

h5 {
  @include mixins.set-font-styles();
}

h6 {
  @include mixins.set-font-styles();
}

p,
li,
label,
td {
  @include mixins.set-font-styles();
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

strong,
b {
  font-weight: bold;
}