@use '../abstracts/mixins';

.text-preset-1 {
  @include mixins.set-font-styles(
    $font-size: var(--font-size-600),
    $font-weight: var(--font-weight-800)
  );
}

.text-preset-2 {
  @include mixins.set-font-styles();
}

.text-preset-3 {
  @include mixins.set-font-styles(
    $font-size: var(--font-size-350)
  );
}

.text-preset-3-bold {
  @include mixins.set-font-styles(
    $font-size: var(--font-size-350),
    $font-weight: var(--font-weight-800)
  );
}