@use './colors';
@use './type';

@mixin set-colors(
  $background-color: none,
  $color: none
) {
  background-color: $background-color;
  color: $color;
}

@mixin set-font-styles(
  $font-family: type.$font-stack,
  $font-size: var(--font-size-400),
  $font-weight: var(--font-weight-500),
  $letter-spacing: var(--letter-spacing-0),
  $line-height: var(--line-height-150)
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}