$font-sizes: (
  mobile: (
    400: 1.0rem
  ),
  tablet: (
    400: 1.1rem
  ),
  desktop: (
    400: 1.2rem
  )
);

$font-weights: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900
);

$letter-spacings: (
  000: 0px,
  100: 1px
);

$line-heights: (
  100: 100%,
  150: 150%,
  200: 200%
);