$font-stack: "Figtree", sans-serif;

$font-sizes: (
  mobile: (
    350: 0.750rem,
    400: 0.875rem,
    600: 1.250rem
  ),
  tablet: (
    350: 0.875rem,
    400: 1.000rem,
    600: 1.500rem
  ),
  desktop: (
    350: 0.875rem,
    400: 1.000rem,
    600: 1.500rem
  )
);

$font-weights: (
  500: 500,
  800: 800,
);

$letter-spacings: (
  0: 0px,
);

$line-heights: (
  150: 150%,
);