*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree/Figtree-VariableFont_wght.ttf");
  font-weight: 500, 800;
}
:root {
  --color-primary-yellow: hsl(47, 88%, 63%);
  --color-neutral-: ;
  --font-size-350: 0.875rem;
  --font-size-400: 1rem;
  --font-size-600: 1.5rem;
  --font-weight-500: 500;
  --font-weight-800: 800;
  --letter-spacing-0: 0px;
  --line-height-150: 150%;
}

@media screen and (min-width: 768px) {
  :root {
    --font-size-350: 0.875rem;
    --font-size-400: 1rem;
    --font-size-600: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  :root {
    --font-size-350: 0.875rem;
    --font-size-400: 1rem;
    --font-size-600: 1.5rem;
  }
}
.text-preset-1 {
  font-family: "Figtree";
  font-size: var(--font-size-600);
  font-weight: var(--font-weight-800);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-150);
}

.text-preset-2 {
  font-family: "Figtree";
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-150);
}

.text-preset-3 {
  font-family: "Figtree";
  font-size: var(--font-size-350);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-150);
}

.text-preset-3-bold {
  font-family: "Figtree";
  font-size: var(--font-size-350);
  font-weight: var(--font-weight-800);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-150);
}

h1 {
  font-family: "Figtree";
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-150);
}

h2 {
  font-family: "Figtree";
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-150);
}

h3 {
  font-family: "Figtree";
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-150);
}

h4 {
  font-family: "Figtree";
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-150);
}

h5 {
  font-family: "Figtree";
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-150);
}

h6 {
  font-family: "Figtree";
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-150);
}

p,
li,
label,
td {
  font-family: "Figtree";
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-150);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

strong,
b {
  font-weight: bold;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: min(100% - 0rem, 90rem);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
}

/*# sourceMappingURL=style.css.map */
